@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to the MVC Bar</h2>
    <h6>Moonshine, Vodka, and Cocktails</h6>
    <div class="text-start">
        <ul>
            <li><a asp-controller="Bar" asp-action="ViewDrinks">View Drink Menu</a></li>
            <li><a asp-controller="Bar" asp-action="ViewOrders">View Order Queue</a></li>
        </ul>
	</div>
</div>
